nav {
    padding: 10px 30px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 70px;
}
.Flower{
    color: #666;
    position: relative;
    left: 30px;
    font-size: 1.8rem;
}
nav ul{
    display: flex;
    gap: 30px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #666;
    font-size: 1.5rem;
}
nav ul li a:hover {
    color: #ff758f;
}
.menu-icon{
    display: none;
    position: absolute;
    left: 15px;
    order: 1;
}
.menu-icon i {
    color: #666;
    font-size: 30px;
    position: relative;
    top: 3px;
}
.icons a {
    font-size: 1.5rem;
    color: #333;
    margin-left: 1rem;
    position: relative;
    top: 10px;
}
.icons a:hover {
    color: #ff758f;
}
.contact-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    align-items: center;
    position: relative;
    left: 300px;
    top: 340px;
}
.contact-card {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
}
.contact-card h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}
.contact-details p {
    margin: 10px 0;
    line-height: 1.5;
}
.contact-details strong {
    display: block;
    margin-bottom: 5px;
    color: #333;
}
.contact-details a {
    color: #0066cc;
    text-decoration: none;
}

.contact-details a:hover {
    text-decoration: underline;
}


/* Media Queries for Responsive Design */
@media (max-width: 600px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: #ebe3e3;
        gap: 0;
        display: none;
        overflow: hidden;
    }
    nav ul.show {
        display: flex;
    }
    nav ul li {
        padding: 20px;
    }
    .menu-icon {
        display: block;
    }

}
